body
{
    background-color: lightgray;
}

#canvas
{
    background-color: white;
    border: 1px dotted black;
    background-image: url(../Assets/images/background.jpg);
    border-radius: 10px;
}

#mainContent
{
    width: 640px;
    margin: 0 auto;
}